*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


main {
  height: 87vh;
  width: 100vw;
  padding: 0vh 2vw;
  padding-bottom: 0vh;
  display: flex;
  word-spacing: 1px;
  text-align: center;
  justify-content: center;
  align-items: baseline;
  /* color: #0073d8; */
}

header{
  height: 12vh;
}

.algos-drop{
  margin-left: 4rem;
}
.title {
  margin-left: 1rem;
  color: white;
}

.bar{
  margin-left: 0.5rem;
  /* background-color: red; */
  width: 10vw;
}

#dropdown-width{
  width: '10rem';
}

