* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


.navbar {
  padding-top: 0;
}

.bars {
  height: 79vh;
  width: 100vw;
  padding: 0vh 2vw;
  padding-bottom: 1vh;
  display: flex;
  word-spacing: 1px;
  text-align: center;
  justify-content: center;
}

.full-bar {
  height: 78vh;
  display: flex;
  width: 10vw;
  margin-left: 0.2rem;
  border: none;
  align-items: flex-end;
}

.footer {
  height: 10vh;
  background-color: #34495e;
  padding: 1.3rem;
}

.algos-drop {
  margin-left: 4rem;
}

.title {
  margin-left: 1rem;
  color: white;
}

.bar {
  margin-left: 0.5rem;
  width: 10vw;
}

#dropdown-width {
  width: 10rem;
}




@media (max-width: 400px) {
  .algos-drop {
    margin-left: 0.2rem;
  }
  .title{
    width: 10rem;
  }
  #dropdown-width {
    width: 3.9rem;
    overflow: hidden;
  }
  .footer {
    text-align: center;
    padding: 0.9rem;
  }
  .full-bar{
    height: 69vh;
  }
  .bars{
    height: 70vh;
  }
  
}

@media (min-width: 400px) {
  .algos-drop {
    margin-left: 0.2rem;
  }

  .title {
    width: 10rem;
  }

  #dropdown-width {
    width: 4.69rem;
    overflow: hidden;
  }

  .footer {
    text-align: center;
    padding: 0.9rem;
  }
}


@media (min-width: 500px) {
  .algos-drop {
    margin-left: 0.2rem;
  }

  .title {
    width: 10rem;
  }

  #dropdown-width {
    width: 7.69rem;
    overflow: hidden;
  }

  .footer {
    text-align: center;
    padding: 0.9rem;
  }
}

@media (min-width: 950px) {
  .algos-drop {
    margin-left: 4rem;
  }

  .title {
    margin-left: 1rem;
    color: white;
    width: 16rem;
  }

  #dropdown-width {
    width: 14rem;
  }

  .footer {
    text-align: center;
    padding: 0.9rem;
  }

  .btn-div{
    font-size: 20px;
  }
}

